.workTab-main-div {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../../public/assets/img/category_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}
#work-container{
    display: flex;
    align-items: center;
}
#workline-left{
    background-color: white;
    height: 3px;
    margin-left: 15%;
    width: 80%;
}
#workCategory{
    text-align: center;
    cursor:pointer;
    color: white;
    font-size: 45px;
}
#workCategory-logo{
    margin-left: 15%;
    text-align: left;
}
#workCategory-sub{
    text-align: center;
    color: gray;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#workCategory-linkTo{
    text-decoration-line: none;
    cursor:pointer;
}
#workCategory-sub-container{
    display: flex;
    align-items: center;
}
#workCategory-sub-blink{
    height: 100px;
}