#baesuhyeon-main-div{
    text-align: center;
}
#baesuhyeon-img-div{
    width: 100vw;
    background-image: url(../../../../public/assets/img/personal/visual/video/BaeSuHyeon/Bae-Su-Hyeon_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#baesuhyeon-img{
    width: 100vw;
}
#baesuhyeon-video{
    width: 95%;
}
#baesuhyeon-gif{
    width: 60%;
    height: 90%;
    /* padding-top: 5%;
    padding-bottom: 5%; */
}