.accessories-main-div {
    text-align: center;
}
#accessories-head{
    border-bottom: 2px solid black;
}
#accessories-head-title-line {
    border-right: 2px solid black;
}
#accessories-head-title{
    color: black;
    font-size: 25px;
    float: right;
    margin-top: 1rem;
    margin-bottom: 0%;
    font-family: 'pretendard-light';
}
#accessories-head-title-sub {
    color: gray;
    font-size: 15px;
    float: left;
    margin-top: 1rem;
    margin-bottom: 0%;
    font-family: 'pretendard-light';
}
#accessories-head-title-sub-container {
    display: flex;
    align-items: center;
}
#accessories-artComponent-container{
    padding: 5%;
}
#accessories-artComponent-component{
    margin-left: 5%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}