.environment-main-div {
    /* margin-top: 1%; */
    text-align: center;
}
#environment-head{
    border-bottom: 2px solid black;
}
#environment-head-title-line {
    border-right: 2px solid black;
}
#environment-head-title{
    color: black;
    font-size: 30px;
    float: right;
    margin-top: 1rem;
    margin-bottom: 0%;
    font-family: 'pretendard-medium';
}
#environment-head-title-sub {
    color: gray;
    font-size: 20px;
    float: left;
    margin-top: 1rem;
    margin-bottom: 0%;
    font-family: 'pretendard-light';
}
#environment-head-title-sub-container {
    display: flex;
    align-items: center;
}
#environment-artComponentDouble-component{
    margin-left: 5%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
#environment-list-title{
    text-align: left;
    padding-top: 3%;
}

#environment-list-text{
    font-family: 'pretendard-medium';
    font-size: 20px;
}