.product-main-div {
    text-align: center;
}
#product-head{
    border-bottom: 2px solid black;
}
#product-head-title-line {
    border-right: 2px solid black;
}
#product-head-title{
    color: black;
    font-size: 25px;
    float: right;
}
#product-head-title-sub {
    color: gray;
    font-size: 15px;
    float: left;
}
#product-head-title-sub-container {
    display: flex;
    align-items: center;
}
#product-artComponent-component{
    margin-left: 5%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
#product-list-title{
    text-align: left;
    padding-top: 5%;
}