.about-main-div {
    -webkit-text-size-adjust: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    /* text-align: center;
    width: 100%;
    height: 100%; */
    /* background-image: url(../../../../public/assets/img/about_background_short.png); */
    /* background-image: url(../../../../public/assets/img/category_bg.jpg); */
    /* background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-attachment: scroll; */
}
#about-body-div{
    margin: 0;
    min-height: 100%;
    /* background-color: #fff; */
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    display: block;
}
#about-block-114{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#about-block-140 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.about-img{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
#about-img-1_s{
    position: -webkit-sticky;
    position: sticky;
    top: 160px;
    z-index: 1;
    display: block;
    width: 68%;
    max-width: 68%;
    margin-top: -50px;
    margin-bottom: 180px;
}
#about-img-2_s {
    /* position: -webkit-sticky;
    position: sticky; */
    top: 30px;
    z-index: 2;
    width: 68%;
    max-width: 68%;
    margin-bottom: 180px;
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
#about-img-3_s {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    z-index: 3;
    width: 68%;
    max-width: 68%;
    margin-bottom: 180px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
#about-img-4_s {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    z-index: 10;
    width: 68%;
    max-width: 68%;
    margin-bottom: 180px;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}
#about-title-sub-black{
    font-family: 'pretendard-medium';
    font-size: 400%;
}
#about-title-sub-white{
    font-family: 'pretendard-medium';
    font-size: 300%;
    color: white;
}
#about-title-sub-container{
    justify-content: center;
    text-align: center;
    margin-bottom: 15%;
}
#about-bottom-container{
    background-image: url(../../../../public/assets/img/about_bottom_background.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: scroll;
}
#about-intro-title{
    font-family: 'pretendard-light';
    color: white;
    margin-top: 3%;
    margin-bottom: 12%;
    font-size: 30px;
}
#about-intro-content{
    font-family: 'pretendard-thin';
    color: white;
    margin-bottom: 5%;
    font-size: 20px;
}
#about-footer-text{
    color: gray;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    font-family: 'pretendard-light';
}