.workTab-main-div {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../../../public/assets/img/category_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}
#work-container{
    display: flex;
    align-items: center;
}
#workline-left{
    background-color: white;
    height: 6px;
    margin-left: 15%;
    width: 80%;
    animation: mymove 3s;
}
#workCategory{
    /* text-align: center; */
    font-family: 'pretendard-medium';
    margin-left: 15%;
    cursor:pointer;
    color: white;
    font-size: 80px;
}
#workCategory-menulist{
    justify-content: flex-start;
    text-align: left;
}
#workCategory-logo{
    margin-left: 15%;
    margin-bottom: 2%;
    text-align: left;
}
#workCategory-sub{
    /* text-align: center; */
    font-family: 'pretendard-light';
    color: darkgray;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: bold;
}
#workCategory-linkTo{
    text-decoration-line: none;
    cursor:pointer;
}
#workCategory-sub-container{
    /* margin-left: 2%; */
    display: flex;
    align-items: center;
    text-align: left;
}
#workCategory-sub-blink{
    height: 100px;
}
#workCategory-middle-line{
    position: absolute; 
    background: white;
    width: 3px;
    height: 50%;
    animation: middle_line 3s;
}
@keyframes mymove {
    from {width:0%;}
    to {width: 80%;}
  }
  @keyframes middle_line{
    from {height: 0%;}
    to {height: 80%;}
  }