#leeyurim-main-div{
    text-align: center;
}
#leeyurim-img1-div{
    width: 100vw;
    background-image: url(../../../../../public/assets/img/personal/visual/video/LeeYuRim/LeeYuRim_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#leeyurim-img2-div{
    width: 100vw;
    background-image: url(../../../../../public/assets/img/personal/visual/video/LeeYuRim/LeeYuRim_3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#leeyurim-img3-div{
    width: 100vw;
    background-image: url(../../../../../public/assets/img/personal/visual/video/LeeYuRim/LeeYuRim_4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#personal-img{
    width: 100vw;
}
#leeyurim-gif{
    width: 80%;
    height: 90%;
    /* padding-top: 5%;
    padding-bottom: 5%; */
}