#artComponent-main-div {
    text-align: center;
    display: inline-block;
}

#artComponent-image-div {
    width: 90%;
    height: 90%;
    background-color: #fff;
}

#artComponent-image-div img {
    width: 100%;
    height: 100%;
}

#artComponent-image-div figcaption {
    white-space: pre-wrap;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    /* 이미지와 겹치게 처리 */
    top: 0;
    left: 0;

    opacity: 0;
    /* 처음엔 안보이고 */

    transition: 0.3s;
}

#artComponent-image-div:hover figcaption,
#artComponent-image-div:focus figcaption {
    opacity: 1;
}
#artComponent-image-figcaption-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#artComponent-image-text-div{
    color: #fff;
    display: inline-block;
    position: absolute;

}
#artComponent-component-title{
    text-align: left;
    padding-top: 5%;
}

#artComponent-image-double-div {
    margin-left: 5%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}