.main-div {
    text-align: center;
}
.component-div{
    padding-bottom: 150px;
}
.hr-style {
    width: 30%;
    margin: auto;
    margin-bottom: 15px;
}

.my-box {
    margin: auto;
    border: 1px solid;
    padding: 30px;
    background-color: #f5f5f5;
    width: 400px;
}

#parent-div {
    display: flex;
    height: 100%;
}