html, body{
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
#navbar-link {
  padding: 0px 5px 0px 5px;
}
#parent-div{
  display: flex;
  height: 100%;
}
#childe-div{
  height: 100%;
  width: 100%;
}
.side-div{
  float: left;
  height: auto;
  background: #000;
}
#side-text{
  width: 25px;
  height: auto;
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  text-transform: uppercase;
  float: right;

  color: #FFF;
}