html, body{
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
#navbar-link {
  padding: 0px 5px 0px 5px;
}
#parent-div{
  display: flex;
  position: fixed;
  height: 100%;
  width: 15%;
  padding: 0%;
  margin: 0%;
}
#childe-div{
  height: 100%;
  width: 100%;
  padding: 1px;
  margin-left: 25%;
  margin-top: 20%;
  text-align: center;
}
.side-div{
  float: left;
  height: auto;
  background: #000;
}
#side-text{
  width: 25px;
  height: auto;
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  text-transform: uppercase;
  float: right;

  color: #FFF;
}
#nav-div{
  height: 20%;
  margin-left: 3%;
  position: relative;
}